#wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "afflictions main vitals"
    "afflictions input vitals";
}

#prompt {
  caret-color: inherit;
}

.main-header {
  grid-area: header;
}

.main-content {
  grid-area: main;
}

.main-input {
  grid-area: input;
}

.afflictions {
  grid-area: afflictions;
  overflow: auto;
  overflow-x: hidden;
}

.vitals {
  grid-area: vitals;
  overflow: auto;
  overflow-x: hidden;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}
