<div id="wrapper">
  <mat-toolbar class="main-header">
    Lusternia Client
  </mat-toolbar>

  <div class="main-content" style="position: relative">
    <app-message-container class="main-content" [content]="messages$ | async" [hasContent]="!!(messages$ | async)"></app-message-container>
  </div>

  <div class="main-input">
    <form [formGroup]="form" (submit)="handlePromptSubmit()">
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>-</mat-label>
        <textarea id="prompt" matInput cdkTextareaAutosize formControlName="prompt"
                  (keydown)="$event.stopPropagation();promptKeyDown($event)" #prompt></textarea>
      </mat-form-field>
    </form>
  </div>

  <div class="afflictions">
    <mat-accordion [multi]="true" [displayMode]="'flat'">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header collapsedHeight="32px" expandedHeight="40px">
          <mat-panel-title>Afflictions</mat-panel-title>
        </mat-expansion-panel-header>

        <ng-container *ngIf="afflictions && afflictions.length; else noAfflictions">
          <mat-chip *ngFor="let affliction of afflictions">{{affliction.name}}</mat-chip>
        </ng-container>
        <ng-template #noAfflictions>-</ng-template>
      </mat-expansion-panel>
    </mat-accordion>

  </div>

  <div class="vitals">
    <app-vitals [vitals]="vitals" [entities]="room.entities" [players]="room.players"></app-vitals>
  </div>
</div>
