<div id="wrapper">
  <mat-toolbar class="main-header">
    Lusternia Client
  </mat-toolbar>

  <div #mainPane class="main-content">
    <p *ngFor="let message of messages" style="white-space: pre-wrap" [innerHTML]="message"></p>
  </div>

  <div class="main-input">
    <form [formGroup]="form" (submit)="handlePromptSubmit()">
      <mat-form-field style="width: 100%">
        <textarea matInput cdkTextareaAutosize placeholder="-" formControlName="prompt" (keydown)="$event.stopPropagation();promptKeyDown($event)" #prompt></textarea>
      </mat-form-field>
    </form>
  </div>

  <div class="vitals">
    <app-vitals [vitals]="vitals" [entities]="room.entities" [players]="room.players"></app-vitals>
  </div>
</div>
