#wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "main vitals"
    "input input";
}

.main-header {
  grid-area: header;
}

.main-content {
  grid-area: main;
  overflow: auto;
  overflow-x: hidden;
}

.main-input {
  grid-area: input;
}

.vitals {
  grid-area: vitals;
  overflow: auto;
  overflow-x: hidden;
}
